body {
	font-family: 'Helvetica', 'Arimo', sans-serif;
}

h2.whats-new-header {
	margin-top: 40px;
}

iframe {
	min-height: 400px;
	width: 700px;
	border: none;
}

p.universal {
	background: url('universal.png');
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-top: 2px;
	color: #768497;
	font-size: 11px;
	height: 16px;
	margin-top: 25px;
	line-height: 14px;
}

p.metadata {
	font-size: 11px;
	line-height: 16px;
	margin-top: 25px;
}

p.requirements {
	font-size: 11px;
}

a.download-link {
	background: url('button.png');
	font-size: 14px;
	padding: 4px 57px 4px 47px;
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
	color: black;
}

#screenshots {
	border: 1px solid #e1e2e1;
	margin-top: 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 30px;
}

#wrapper {
	width: 920px;
	margin: 20px auto;
}

#content {
	float: right;
	width: 720px;
	margin-left: 10px;
}

#links a {
	font-size: 13px;
	padding-left: 15px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#content p {
	font-size: 13px;
	padding-left: 15px;
	color: black;
	text-decoration: none;
}

p.description a {
	font-weight: bold;
}

#content h1 {
	padding-left: 15px;
}

#content h2.description, #content h2.whats-new-header {
	padding-left: 15px;
}

#content ul {
	font-size: 13px;
}

#content ul li {
	margin-bottom: 5px;
}

#sidebar {
	width: 190px;
	float: right;
}

#sidebar img {
	width: 175px;
	height: 175px;
	margin-bottom: 15px;
}

h1 {
	margin-top: 0;
	color: #2f4e67;
}

h2 {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 18px;
	color: #416b8d;
}

p.whats-new a {
	font-weight: normal;
	padding: 0;
	margin: 0;
}